<html>

<head>
    <title>Vue Js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <!--Form Data Handle-->
        <form v-on:submit.prevent="onSubmit">
            <label>FirstName:</label>
            <input type="text" v-model="formData.fName"></input>
            <button>Submit</button>
        </form>
        <!--Button Click with argument -->
        <button v-on:click="testingEvent('shourov',$event)">Click To Check Event</button>
        <!--Checking between Methods and computed property-->
        <h1>salary {{salary}}</h1>
        <button v-on:click="aValue++">AButton</button>
        <button v-on:click="bValue++">bButton</button>
        <button v-on:click="cValue++">cButton</button>
        <!-- <p>A={{aValue}}</p>
        <p>B={{bValue}}</p>
        <p>C={{cValue}}</p>
        <h3>{{aMethod()}}</h3>
        <h3>{{bMethod()}}</h3>
        <h3>{{cMethod()}}</h3> -->

        <!--Now Check It only Computed-->
        <p>A={{aValue}}</p>
        <p>B={{bValue}}</p>
        <p>C={{cValue}}</p>
        <h3>{{ aMethod }}</h3>
        <h3>{{ bMethod }}</h3>
        <h3>{{ cMethod }}</h3>
        <!-- access name -->
        <p>{{name}}</p>
        <!-- access array -->
        <p>{{fruits[0]}}</p>
        <!-- access object -->
        <p>{{batch.student}}</p>
        <p>{{batch.group}}</p>
        <!-- access function -->
        <p>{{message()}}</p>
        <!-- access methods() -->
        <p>{{firstName()}}</p>
        <p>{{info()}}</p>
        <!-- to use any tag attribute have to use vue directives for it use v-bind: -->
        <img v-bind:src="src">
        <a v-bind:href="link">Click Me</a>
        <!-- to use any tag attribute have to use vue directives for text use v:text -->
        <p v-text="name"></p>
        <!-- To use any html inside any attribute use v-html for it  -->
        <p v-html="htmlTag"></p>
        <!-- Conditional Rendering if else-if else -->
        <p v-if="age>27">you are {{age}} years old</p>
        <p v-else-if="name==='ratul'">you are {{age}} </p>
        <p v-else>you are unable to do</p>
        <!-- v-show -->
        <p v-show="name==='ratul'">
            show it
        </p>
        <p v-show="name!=='ratul'">
            Don't show it
        </p>

        <hr/>
        <!-- foreach loop in array  -->
        <p v-for="aFruit in fruits">
            {{aFruit}}
        </p>
        foreach loop in array index,value
        <p v-for="(aFruit,index) in fruits">
            {{index}} :{{aFruit}}
        </p>
        foreach loop in object with index,value and key which starts from right to left
        <p v-for="(value,index,key) in students">
            {{key}}: {{index}} :{{value}}
        </p>

        <!-- The value is render once that means the value is never update example is showd with settimeout -->
        <h1>{{name}}</h1>
        <h1 v-once>{{name}}</h1>
        {{updateName()}}
        <hr/>
        <!-- Event Work -->

        <div id="mouseDiv">
            {{designation}}
            <button v-on:click="changeDesignation">Click Me </button> {{x}}:{{y}}
            <button v-on:mouseover="changeCoordinate">Mouse Over </button>
        </div>
        <hr/>
        <form v-on:submit="formSubmit">
            <label>firstName</label>
            <input type="text"></input>
            <label>lastName</label>
            <input type="text"></input>
            <Button type="submit">Submit</Button>
        </form>

    </div>
    <div id="app2">
        {{a}}
        <button v-on:click="increment">Add 5</button>
    </div>
    <script src="app.js">
    </script>
</body>
<style>
    #mouseDiv {
        background-color: red;
        height: 50%;
    }
</style>

</html>